.library{
    margin-top: 70px;
    margin-bottom: 15px;
}
library-doc{
    width: 100%;
}
.library-doc iframe{
    max-width: 700px;
    max-height: 475px;
    width: 100%;
}

.library-doc_title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: normal;
    font-size: 1.5em;

    margin-top: 15px;
    font-family: "Open Sans",Verdana,sans-serif;
    color: #0f4c65;
    margin-bottom: 15px;
}