/*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
/*}*/
body{
    overflow-x: hidden;
}
.photo-img{
    max-width: 150px;
}

footer{
    position: fixed;
    z-index: 2000;
    bottom: 0;
    width: 100%;
}
/*main {*/
    /*flex: 1 0 auto;*/
/*}*/
.back-btn{
    margin-top: 50px;
}
.page-footer{
    padding-top: 0;
}
.card{
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}