/* Сontacts */
.contacts{
    margin-top: 85px;
  }
  .addresses-group{
    margin: 20px 0;
  }
  .addresses-group .address-item:last-of-type{
    margin-left: 0;
    padding: 0 !important;
  }
  @media screen and (max-width:767px) {
    .contacts{
      margin-top: 40px;
    }
  }
.contacts-info-wrapper .phone-list-item-content{
    width: auto;
}
  
  